*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eae6e6;
    height: 100vh;
    padding-bottom: 20rem;

}

.Screen {
    display: flex;
    flex-direction: row-reverse;
    padding: 4.5rem;
    background-color: whitesmoke;
    text-shadow: #333;

}
.windows{
    display: flex;
    flex-direction: row-reverse;
    
}

.calculator{
    height: 10rem;
    width: 20vw;
    background-color: #d5d9dc;
}  




.keys {
    background-color: #d5d9dc;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.1rem 0.1rem;

}

button{
   padding: 0.75rem 20px;
   border-radius: 0.45rem;
}